{% extends "todolist/base.html" %}
{% block 标题 %}硬件直播控制平台{% endblock 标题 %}
{% block 关于高亮 %}active{% endblock 关于高亮 %}
{% block 主体 %}

<h1>硬件直播控制平台</h1>
<br>
<br>
<!-- strobe -->
<script type="text/javascript" src="strobe/lib/swfobject.js"></script>
<script type="text/javascript">
  var parameters = {  
     src: "rtmp://{pi_address}/rtmp/live",  
     autoPlay: false,  
     controlBarAutoHide: false,  
     playButtonOverlay: true,  
     showVideoInfoOverlayOnStartUp: true,  
     optimizeBuffering : false,  
     initialBufferTime : 0.1,  
     expandedBufferTime : 0.1,  
     minContinuousPlayback : 0.1,  
     poster: "images/poster.png"  
  };  
  swfobject.embedSWF(
    "strobe/StrobeMediaPlayback.swf"
    , "StrobeMediaPlayback"
    , 1024
    , 768
    , "10.1.0"
    , "strobe/expressInstall.swf"
    , parameters
    , {
      allowFullScreen: "true"
    }
    , {
      name: "StrobeMediaPlayback"
    }
  );
</script>
 
</head>
<body>
  <br>
  <br>
  <div>
    <h3>远程开关灯控制当前状态：{{ 开关值变动 }}</h3>
    <form class="form-inline mt-2 mt-md-0 col-7 justify-content-end " method="POST" action="">
          {% csrf_token %}
          <input name="开关值" value="on" class="form-control mr-sm-0" type="hidden" placeholder="待办事项12" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ON</button>
    </form>
    <form class="form-inline mt-2 mt-md-0 col-7 justify-content-end " method="POST" action="">
          {% csrf_token %}
          <input name="开关值" value="off" class="form-control mr-sm-0" type="hidden" placeholder="待办事项12" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OFF</button>
    </form>
  </div>
  <br>
  <br>
  <div>
    <h1>Charm</h1>
    
  </div>
</body>
</html>
{% endblock 主体 %}